html {
    background-color:   black;
}

body {
    align-items:        center;
    background-color: black;
    color:            white;
    display:            flex;
    flex-direction:     column;
    padding:            0px;
    margin:             0px;
    min-height:         100vh;
    text-align:         center;
}

div.container {
}

p.disclaimer {
    font-size:          0.8em;
    margin-left:        auto;
    margin-right:       auto;
    width:              80%;
}

table {
    border:             1px solid white;
    border-collapse:    collapse;
}

tr.strikeout {
    text-decoration:    line-through;
}

th {
    border:             1px solid white;
    padding:            5px;
}

td {
    border:             1px solid white;
    padding:            5px;
}

td.hit {
    background-color:   green;
}

td.miss {
    background-color:   darkred;
}